* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font: 1em sans-serif;
  /* text-align: center; */
}
.header,
.main,
.social-icons {
  background-color: rgb(85, 93, 128);
}

.card {
  width: 400px;
  box-shadow: 10px 10px 10px rgb(112, 111, 111);
  transition: 3s, background-color 3s;
  overflow: hidden;
  /* border: 2px solid rgb(58, 57, 57);
  border-radius: 5px; */
}

.card:hover {
  box-shadow: 20px 20px 20px rgb(160, 158, 158);
  background-color: rgb(235, 67, 16);
}

.card:active {
  box-shadow: 20px 20px 20px rgb(206, 157, 230);
}

.header {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  gap: 10px;
  padding: 5px;
  /* justify-content: center; */
}

.topicons {
  width: 55px;
  height: 55px;
  padding: 10px;
  transition: 1s;
}

.topicons:hover {
  background-color: #f1ebeb40;
  border-radius: 50%;
  transform: scale(1.1);

  transition: 0.3s;
}

.topicons:active {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform: scale(1.1);
  transition: 0.3s;
}

.main {
  display: grid;
  justify-items: center;
  padding-bottom: 20px;
}

.me {
  border-radius: 50%;
  /* padding-top: 20px; */
  /* padding-bottom: 10px; */
  height: 200px;
}

.me:hover {
  transform: scale(0.9);
  /* transform: rotate(10deg); */

  transition: 0.3s;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 2;
  transition: 1s;
}

h1 {
  font-size: 3rem;

  transition: 1s;
}

h1:hover {
  color: white;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h2:hover {
  color: white;
}

h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

h3:hover {
  color: white;
}

.button {
  border: 2px solid white;
  display: grid;
  /* height: 80px;
  width: 300px; */
  text-align: center;
  text-justify: center;
  background: linear-gradient(
      217deg,
      rgba(223, 80, 192, 0.8),
      rgba(77, 4, 40, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(86, 120, 231, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(44, 44, 94, 0.8), rgba(0, 0, 255, 0) 70.71%);

  color: rgb(0, 0, 0);
  font-size: 40px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  transition: 2s;
}

.button:hover {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(30, 75, 224, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);

  transform: translate(7px, 7px);
  box-shadow: 5px 5px 2px rgb(255, 255, 255);
  color: white;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* justify-items: center; */
}

.social-icon {
  /* OPTION 1 - USEFUL WITH TEXT ELEMENTS & <img /> */

  text-align: center;

  /* OPTION 2 - USEFUL WITH CONTAINER ELEMENTS */

  /* display: grid;
  justify-items: center; */
}

.icons {
  width: 50px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  transition: 1s;
}

.icons:hover {
  background-color: #f1ebeb40;
  border-radius: 50%;
  transform: scale(1.1);
  transition: 0.3s;
}

.icons:active {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform: scale(1.1);
  transition: 0.3s;
}

p {
  line-height: 2;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
}
