* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font: 1em sans-serif;
}
.header,
.main,
.social-icons {
  background-color: rgb(85, 93, 128);
}

.card {
  width: 500px;
  height: 100%;
  box-shadow: 10px 10px 10px rgb(112, 111, 111);
  transition: 3s, background-color 3s;
}

.card:hover {
  box-shadow: 20px 20px 20px rgb(160, 158, 158);
  background-color: rgb(235, 67, 16);
}

.card:active {
  box-shadow: 20px 20px 20px rgb(206, 157, 230);
}

.header {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  justify-content: center;
}

.topicons {
  width: 60px;
  height: 60px;
  padding: 10px;
  transition: 1s;
}

.topicons:hover {
  width: 62px;
  height: 62px;
  padding: 10px;
}

.main {
  display: grid;
  justify-content: center;
  padding-bottom: 50px;
}

.me {
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 2;
}

h1 {
  font-size: 3rem;
  transition: 1s;
}

h1:hover {
  color: white;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.button {
  /* align-content: center; */
  text-align: center;
  /* display: inline; */
  background-color: purple;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  transition: 2s;
}

.button:hover {
  transform: translate(7px, 7px);
  box-shadow: 5px 5px 2px rgb(143, 127, 127);
  color: white;
}

.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

.icons {
  width: 80px;
  height: 80px;
  padding: 10px;
  justify-content: center;
  transition: 1s;
}

.icons:hover {
  width: 82px;
  height: 82px;
}

p {
  line-height: 2;
  text-transform: uppercase;
  justify-content: center;
}
