* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font: 1em sans-serif;
}
.header,
.main,
.social-icons {
  background-color: rgb(85, 93, 128);
}

.card {
  width: 500px;
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  justify-content: center;
}

.topicons {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.main {
  display: grid;
  justify-content: center;
  padding-bottom: 50px;
}

.me {
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.button {
  /* align-content: center; */
  text-align: center;
  /* display: inline; */
  background-color: purple;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

.icons {
  width: 80px;
  height: 80px;
  padding: 10px;
  justify-content: center;
}

p {
  line-height: 2;
  text-transform: uppercase;
  justify-content: center;
}
